<ul class="list-inline">
  <li class="list-inline-item">
    <h6>Time Allotted Per Question</h6>
    <span class="badge badge-primary">{{_configure.totalTimePerQuestion}}</span>
  </li>
  <li class="list-inline-item">
    <h6>Question Time Spent</h6>
    <span class="badge badge-primary">
      <!-- [ngClass]="{'badge badge-danger':(coreService.displayTimeElapsed() > displayQuizQnsTimeElapsed())}" -->
      {{questionDetails[currentIndex].questionTime}} sec</span>
  </li>
  <li class="list-inline-item">
    <h6>Correct</h6>
    <span class="badge badge-primary">27 Seconds</span>
  </li>
  <li class="list-inline-item">
    <h6>Incorrect</h6>
    <span class="badge badge-primary">27 Seconds</span>
  </li>
  <li class="list-inline-item">
    <h6>Unanswered</h6>
    <span class="badge badge-primary">27 Seconds</span>
  </li>
  <li class="list-inline-item">
    <h6>Time Allotted for Quiz</h6>
    <span class="badge badge-primary">{{_configure.totalTime}}min</span>
  </li>
  <li class="list-inline-item">
    <h6>Quiz Time Spent</h6>
    <span class="badge badge-primary">
      <!-- [ngClass]="{'badge badge-danger':(coreService.displayTotalTimeElapsed() > displayGivenQuizTimeElapsed())}" -->
      {{totalTime}} sec</span>
  </li>
  <li class="list-inline-item">
    <h6>Question</h6>
    <span class="badge badge-primary">{{currentIndex + 1}}</span>
  </li>
</ul>