<div class="card">
  <div class="card-body" style="background-color: #ededed">
    <div class="row">
      <div class="col-sm-2">
        <button type="button" class="btn btn-large btn-primary" (click)="clearingResponse()">Clear Response</button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-large btn-primary" (click)="showingAnswer()" *ngIf="message == false">Show Answer</button>
        <button type="button" class="btn btn-large btn-primary" (click)="hidingAnswer()" *ngIf="message == true">Hide Answer</button>
      </div>
      <div class="col-sm-6">

      </div>
      <div class="col-sm-1">

        <button type="button" [disabled]="(currentIndex == 0 ? true : false)" class="btn btn-large btn-primary" (click)="valueDecreased()" >
          <i class="fas fa-arrow-left"></i>
        </button>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-large  btn-primary" (click)="valueIncreased()" [disabled]="(currentIndex == (_totalQuestions - 1) ? true : false)" >
          <i class="fas fa-arrow-right"></i>
        </button>

      </div>
    </div>
  </div>
</div>