.spinner-container {
  width: 100%;
  min-height: 350px;
  text-align: center;
  padding-top: 150px;
}
.wk-icon-spin.wk-spin.wk-spin-small {
  color: #007ac3;
  font-size: 30px;
}

.wk-icon-spin.wk-spin.wk-spin-medium {
  color: #007ac3;
  font-size: 40px;
}

.wk-icon-spin.wk-spin.wk-spin-large {
  color: #007ac3;
  font-size: 60px;
}
