<div class="wk-row fullwidth-pagination wk-listing-table-pagination" *ngIf="(!show && pagerDetails.totalItems > 0)">
  <div class="wk-pagination-bar">
    <ul class="wk-pagination wk-pagination-fullwidth" *ngIf="pagerDetails.pages != null">
      <li [ngClass]="{'wk-disabled':pagerDetails.currentPage === 1}" class="mob-pagination-first">
        <a (keyup.enter)="pageChange(1)" (click)="pageChange(1)" tabIndex="0" role="button" class="wk-button wk-button-icon" l10nTranslate>
          sharedLocale.buttons.First
        </a>
      </li>
      <li [ngClass]="{'wk-disabled':pagerDetails.currentPage === 1}" class="mob-pagination-prev">
        <a (keyup.enter)="pageChange(pagerDetails.currentPage - 1)" (click)="pageChange(pagerDetails.currentPage - 1)" role="button" tabIndex="0" class="wk-button wk-button-icon pagination-prev-btn" l10nTranslate>
          sharedLocale.buttons.Prev
        </a>
      </li>
      <li *ngFor="let page of pagerDetails.pages" [ngClass]="{'wk-active':pagerDetails.currentPage === page}">
        <a (keyup.enter)="pageChange(page)" (click)="pageChange(page)" role="button" tabIndex="0">{{ page }}</a>
      </li>
      <li [ngClass]="{'wk-disabled':pagerDetails.currentPage == pagerDetails.totalPages}" class="mob-pagination-next">
        <a (keyup.enter)="pageChange(pagerDetails.currentPage + 1)" (click)="pageChange(pagerDetails.currentPage + 1)" role="button" tabIndex="0" class="wk-button wk-button-icon pagination-next-btn" l10nTranslate>
          sharedLocale.buttons.Next
        </a>
      </li>
      <li [ngClass]="{'wk-disabled':(pagerDetails.currentPage === pagerDetails.totalPages)}" class="mob-pagination-last">
        <a (keyup.enter)="pageChange(pagerDetails.totalPages)" (click)="pageChange(pagerDetails.totalPages)" role="button" tabIndex="0" class="wk-button wk-button-icon" l10nTranslate>
          sharedLocale.buttons.Last
        </a>
      </li>
    </ul>
  </div>
</div>
