<div class="card">
  <div class="card-body" style="background-color: #ededed">
    <div class="row">
      <div class="col-sm-2">
          <a href="#" class="btn btn-primary btn-md active"
           role="button" aria-pressed="true">Clear Response</a>
      </div>
      <div class="col-sm-2">
          <a href="#" class="btn btn-primary btn-md active"
          role="button" aria-pressed="true">Show Answer</a>
      </div>
      <div class="col-sm-6">

      </div>
      <div class="col-sm-1">
          <a href="#" class="btn btn-primary btn-md active" role="button"
           aria-pressed="true"><i class="fas fa-arrow-left"></i></a>
        </div>
      <div class="col-sm-1">
          <a href="#" class="btn btn-primary btn-md active" 
          role="button" aria-pressed="true"><i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
