<div class="wkqp-register-bg wkqp-row engine-records-wrapper" >
    <div>
        <div>
            <div class="wkqp-field-item mb0">
                <div class="wkqp-field-header">
                    <span>{{ 'Time Allotted Per Question' }}</span>
                </div>
                <span class="wkqp-badge">{{ '60' }} </span>
            </div>
            <div style="display:inline;">
                <div>
                    <span>{{ 'Question Time Spent' }}</span>
                </div>
                <span class="wkqp-badge">{{ '01:12:51' }} </span>
            </div>
            <div>
                <div>
                    <span>{{ 'Correct' }}</span>
                </div>
                <span class="wkqp-badge">{{ '0' }} </span>
            </div>
            <div>
                <div>
                    <span>{{ 'Incorrect' }}</span>
                </div>
                <span class="wkqp-badge">{{ '0' }} </span>
            </div>
            <div>
                <div>
                    <span>{{ 'Unanswered' }}</span>
                </div>
                <span class="wkqp-badge">{{ '0' }} </span>
            </div>
            <div>
                <div>
                    <span>{{ 'Time Allotted for Quiz' }}</span>
                </div>
                <span class="wkqp-badge">{{ '20' }} </span>
            </div>
            <div>
                <div>
                    <span>{{ 'Quiz Time Spent' }}</span>
                </div>
                <span class="wkqp-badge">{{ '20' }} </span>
            </div>
            <div>
                <div>
                    <span>{{ 'Question' }}</span>
                </div>
                <span class="wkqp-badge">{{ '20' }} </span>
            </div>
        </div>
    </div>
</div>
