.wkqp-iconspage-content a:hover, .wkqp-iconspage-content a:focus { text-decoration:none; }
.wkqp-iconscard-bg { background-color:#ffffff; } 
.wkqp-iconscard-bg:hover { color:#ffffff; }
.wkqp-iconscard-bg > h4.wkqp-iconscard-title { font-size:28px; margin-bottom:75px; }
.wkqp-iconscard-bg > span.wkqp-iconslabel-success { font-size:24px; }
.wkqp-iconscard-bg  > .wkqp-iconsbutton-bar a.wkqp-iconsbutton:focus { color:#ffffff; text-decoration:none; }
.pb20 { padding-bottom:20px; }
.mb20 { margin-bottom:20px; }
.wkqp-iconsregister-bg { background-color: #ededed; padding: 1rem; }
.gray-bg { background-color:#ededed; border:1px solid #dadada; padding:15px; }
.pt10 { padding-top:10px;}
button.btn-wkBlue { background-color:#241866; }
.wkqp-iconstable > tfoot > tr > th, .wkqp-iconstable > thead > tr > th { background-color: #f6f6f6; color:#474747; text-transform: uppercase; }
.wkqp-iconstable-permit-overflow { border-color: -moz-use-text-color #dadada;border-color: -webkit-use-text-color #dadada;border-color: -ms-use-text-color #dadada;border-color: -o-use-text-color #dadada; }
.wkqp-iconstable td, .wkqp-iconstable th {border: 1px solid #dadada;}
.wkqp-iconstable-permit-overflow {border: 1px solid #dadada; border-bottom:0px; border-top:0px; }
.welcome {color:#757575;} 
.mb0 { margin-bottom:0px; }
h4.wkqp-iconsmodule-heading { color:#005b92; }
label { font-weight:500; }
.wkqp-iconsfield-header label { font-weight:600; } 
a.icon-size span.wkqp-iconsicon-compose-outline, a.icon-size span.wkqp-iconsicon-thumbs-up, a.icon-size span.wkqp-iconsicon-list-outline, a.icon-size span.wkqp-iconsicon-close-outline, a.icon-size span.wkqp-iconsicon-download-outline{ 
    font-size:1.7rem; color:#474747; }
a.addrow-link { color:#fff; float:right; }
a.addrow-link  span { float:left; } 
a.addrow-link  span:last-child { padding-top:10px; }
a.addrow-link:hover { color:#005b92;}
.wkqp-iconstable > thead > tr > th.tag-pt10 { padding-top:18px; }
a.icon-size span.wkqp-iconsicon-plus-outline  {font-size:1.7rem; color:#fff;}
a.icon-size:hover span.wkqp-iconsicon-plus-outline { color:#005b92; }
a.icon-size:hover span.wkqp-iconsicon-compose-outline, a.icon-size:hover span.wkqp-iconsicon-thumbs-up, a.icon-size:hover span.wkqp-iconsicon-list-outline, a.icon-size:hover span.wkqp-iconsicon-close-outline, a.icon-size:hover span.wkqp-iconsicon-download-outline, a.icon-size:hover span.wkqp-iconsicon-plus-outline{ 
    color:#005b92; }
a.icon-size-gray span.wkqp-iconsicon-plus-outline { font-size:1.7rem; color:#474747; }
a.icon-size-gray:hover span.wkqp-iconsicon-plus-outline { color:#005b92; } 

a.icon-size-keypad span.wkqp-iconsicon-keypad-outline { font-size:1.7rem; color:#474747; }
a.icon-size-keypad:hover span.wkqp-iconsicon-keypad-outline { color:#005b92; } 

a.icon-size-review span.wkqp-iconsicon-checkmark-outline { font-size:1.7rem; color:#474747; }
a.icon-size-review:hover span.wkqp-iconsicon-checkmark-outline { color:#005b92; } 

a.icon-size-export span.wkqp-iconsicon-log-in { font-size:1.7rem; color:#474747; }
a.icon-size-export:hover span.wkqp-iconsicon-log-in { color:#005b92; } 

a.icon-size-preview span.wkqp-iconsicon-copy-outline { font-size:1.7rem; color:#474747; }
a.icon-size-preview:hover span.wkqp-iconsicon-copy-outline { color:#005b92; } 

a.icon-size-resume span.wkqp-iconsicon-youtube-outline { font-size:1.7rem; color:#474747; }
a.icon-size-resume:hover span.wkqp-iconsicon-youtube-outline { color:#005b92; } 

a.icon-size-summary span.wkqp-iconsicon-paper-outline { font-size:1.7rem; color:#474747; }
a.icon-size-summary:hover span.wkqp-iconsicon-paper-outline { color:#005b92; } 

.date-wrapper { position:relative; }
.date-wrapper span.wkqp-iconsicon-calendar-outline { font-size:30px; color:#474747; position:absolute; top:2px; right:5px; z-index:13000; }
.wkqp-iconstable .wkqp-iconstable-sorted { font-weight:600; }
.tags-hover span.tree-box { position:absolute; margin-left:-16px; z-index:100000000; }
.mr-1rem { margin-right:1rem; }
.normal-font { font-weight:normal; }
.normal-font label {font-weight:normal;}
input[type="file"].default-file { height:auto; }
.text-right { text-align:right; }
ul.wkqp-iconslist-custom { border:0px; padding:0px; }
.green-checkmark { color:#85bc20; font-size:24px; position:relative; top:3px; }
.disabled-checkmark { color:#dadada; font-size:24px; position:relative; top:3px; }
.wrong-checkmark { color:#e5202e; font-size:24px; position:relative; top:3px; }
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 10px;
}
.gray-bg-result { background-color:#ededed; border:1px solid #dadada; padding:0px; padding-bottom:5px;padding: 10px 0;margin-bottom: 15px;}
.green-checkmark-result { color:#85bc20; font-size:24px;}
.pt5 { padding-top:8px; }
.responsive-timespent { padding-top:8px; text-align:right; padding-right:15px; }
.responsive-pl15 { padding-left:15px; }

/* Tab css start */
ul.resp-tabs-list, p { margin: 0px; padding: 0px;} 
.resp-tabs-list li {font-weight: 600;font-size: 13px; display: inline-block;padding: 13px 15px; margin: 0 4px 0 0;list-style: none; cursor: pointer; float: left;}
.resp-tabs-container {padding: 0px; background-color: #fff;clear: left;}
h2.resp-accordion {cursor: pointer;padding: 5px;display: none;}
.resp-tab-content {display: none;padding: 15px;}
.resp-tab-active {border: 1px solid #241866 !important;border-bottom: none;margin-bottom: -1px !important;padding: 12px 14px 14px 14px !important;border-top: 1px solid #241866 !important;border-bottom: 0px #fff solid !important;}
.resp-tab-active {border-bottom: none;background-color: #fff;}
.resp-content-active, .resp-accordion-active {display: block;}
.resp-tab-content { border: 1px solid #241866;border-top-color: #241866;}
h2.resp-accordion {font-size: 13px;border: 1px solid #241866;border-top: 0px solid #241866;margin: 0px;padding: 10px 15px;}
h2.resp-tab-active {border-bottom: 0px solid #241866 !important;margin-bottom: 0px !important;padding: 10px 15px !important;}
h2.resp-tab-title:last-child { border-bottom: 12px solid #241866 !important; background: blue;}
.resp-tab-item.hor_1 { color:#005b92; text-transform:uppercase; }
.resp-tab-item.hor_1.resp-tab-active { color:#241866;  }
/*-----------Accordion styles-----------*/
h2.resp-tab-active { background: #DBDBDB;/* !important;*/}
.resp-easy-accordion h2.resp-accordion {display: block;}
.resp-easy-accordion .resp-tab-content { border: 1px solid #241866;}
.resp-easy-accordion .resp-tab-content:last-child {border-bottom: 1px solid #241866;/* !important;*/}
.resp-jfit {width: 100%; margin: 0px;}
.resp-tab-content-active {display: block;}
h2.resp-accordion:first-child { border-top: 1px solid #241866;/* !important;*/}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {float: left;width: 30%;}
.resp-vtabs .resp-tabs-list li {display: block;padding: 15px 15px !important;margin: 0 0 4px;cursor: pointer;float: none;}
.resp-vtabs .resp-tabs-container {padding: 0px;background-color: #fff;border: 1px solid #241866;float: left;width: 68%;min-height: 250px;border-radius: 4px;clear: none;}
.resp-vtabs .resp-tab-content { border: none;word-wrap: break-word;}
.resp-vtabs li.resp-tab-active { position: relative;z-index: 1;margin-right: -1px !important;border-top: 1px solid;border: 1px solid #241866 !important;border-left: 4px solid #241866 !important;margin-bottom: 4px !important;border-right: 1px #FFF solid !important;}
.resp-arrow { width: 0; height: 0; float: right; margin-top: 3px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 9px solid #241866;}
h2.resp-tab-active span.resp-arrow {border: none;border-left: 6px solid transparent; border-right: 6px solid transparent;border-bottom: 9px solid #241866;}
/* Tab css end */

/* Accordion css start */
.panel-default > .panel-heading {
    background-color: #757575;
    border: 0 none;
    border-radius: 0;
    color: #fff;
}
.panel {background-color: #ededed;border: 0px solid #a6d1ea; border-radius: 0px; box-shadow: 0 0 0; }
.panel-default > .panel-heading + .panel-collapse > .panel-body { border-top-color: #ededed;}
.panel-group .panel { border-radius:0px; }
.panel-title a:hover { color:#85bc20; }

/* Accordion css end */

.wkqp-iconsselect-field > select[disabled], textarea[disabled] {
    background-color: #ededed;
    color: #999;
}
#piechart_3d { width:100%; height:300px; }

table span.wkqp-icon-spin.wkqp-spin  { color:#005b92; font-size:30px;  }
span.wkqp-icon-spin.wkqp-spin.wkqp-spin-center  { color:#005b92; position:absolute;left:40%;top: 30%;font-size:50px;min-height: 50px; }

a:hover, a:focus { text-decoration:none; }
a:focus { color:#85bc20; }
.wkqp-card-bg { background-color:#ffffff; }
.wkqp-card-bg:hover { color:#ffffff; }
.wkqp-card-bg > h4.wkqp-card-title { font-size:28px; margin-bottom:75px; }
.wkqp-card-bg > span.wkqp-label-success { font-size:24px; }
.wkqp-card-bg  > .wkqp-button-bar a.wkqp-button:focus { color:#ffffff; text-decoration:none; }
.pb20 { padding-bottom:20px; }
.mb20 { margin-bottom:20px; }
.wkqp-register-bg { background-color: #ededed; padding: 1rem; width: 100%;float: left;}
.gray-bg { background-color:#ededed; border:1px solid #dadada; padding:15px; }
.white-bg { background-color:#ffffff; border:1px solid #dadada; padding:15px; }
.pt10 { padding-top:10px;}
button.btn-wkBlue { background-color:#241866; }
.wkqp-table > tfoot > tr > th, .wkqp-table > thead > tr > th { background-color: #f6f6f6; color:#474747; text-transform: uppercase; }
.wkqp-table-permit-overflow { border-color: -moz-use-text-color #dadada;border-color:  -webkit-use-text-color #dadada;border-color:  -ms-use-text-color #dadada;border-color:  -o-use-text-color #dadada; }
.wkqp-table td, .wkqp-table th { border: 1px solid #dadada; } 
.wkqp-table-permit-overflow { border: 1px solid #dadada; border-bottom:0px; border-top:0px; }
.welcome {color:#757575;} 
.mb0 { margin-bottom:0px; }
h4.wkqp-module-heading { color:#005b92; }
label { font-weight:500; }
.wkqp-field-header label { font-weight:600; } 
a.icon-size span.wkqp-icon-compose-outline, a.icon-size span.wkqp-icon-thumbs-up, a.icon-size span.wkqp-icon-list-outline, a.icon-size span.wkqp-icon-close-outline, a.icon-size span.wkqp-icon-download-outline{ 
    font-size:1.7rem; color:#474747; }
a.addrow-link { color:#fff; float:right; }
a.addrow-link  span { float:left; } 
a.addrow-link  span:last-child { padding-top:10px; }
a.addrow-link:hover { color:#005b92;}
.wkqp-table > thead > tr > th.tag-pt10 { padding-top:18px; }
a.icon-size span.wkqp-icon-plus-outline  {font-size:1.7rem; color:#fff;}
a.icon-size:hover span.wkqp-icon-plus-outline { color:#005b92; }
a.icon-size:hover span.wkqp-icon-compose-outline, a.icon-size:hover span.wkqp-icon-thumbs-up, a.icon-size:hover span.wkqp-icon-list-outline, a.icon-size:hover span.wkqp-icon-close-outline, a.icon-size:hover span.wkqp-icon-download-outline, a.icon-size:hover span.wkqp-icon-plus-outline{ 
    color:#005b92; }
a.icon-size-gray span.wkqp-icon-plus-outline { font-size:1.7rem; color:#474747; }
a.icon-size-gray:hover span.wkqp-icon-plus-outline { color:#005b92; } 

a.icon-size-keypad span.wkqp-icon-keypad-outline { font-size:1.7rem; color:#474747; }
a.icon-size-keypad:hover span.wkqp-icon-keypad-outline { color:#005b92; } 

a.icon-size-review span.wkqp-icon-checkmark-outline { font-size:1.7rem; color:#474747; }
a.icon-size-review:hover span.wkqp-icon-checkmark-outline { color:#005b92; } 

a.icon-size-export span.wkqp-icon-log-in { font-size:1.7rem; color:#474747; }
a.icon-size-export:hover span.wkqp-icon-log-in { color:#005b92; } 

a.icon-size-preview span.wkqp-icon-copy-outline { font-size:1.7rem; color:#474747; }
a.icon-size-preview:hover span.wkqp-icon-copy-outline { color:#005b92; } 

a.icon-size-preview span.wkqp-icon-copy-outline { font-size:1.7rem; color:#474747; }
a.icon-size-preview:hover span.wkqp-icon-copy-outline { color:#005b92; } 

a.icon-size span.wkqp-icon-edit { font-size:1.7rem; color:#474747; } 
a.icon-size:hover span.wkqp-icon-edit { color:#005b92; } 

.date-wrapper { position:relative; }
.date-wrapper span.wkqp-icon-calendar-outline { font-size:30px; color:#474747; position:absolute; top:2px; right:5px; z-index:13000; }
.wkqp-table .wkqp-table-sorted { font-weight:600; }
.wkqp-navbar .wkqp-nav { display: block; }  
.wkqp-navbar .wkqp-more-menu { display: none; }
.tags-hover span.tree-box { position:absolute; margin-left:-16px; z-index:100000000; }
.mr-1rem { margin-right:1rem; }
.normal-font { font-weight:normal; } 
.normal-font label {font-weight:normal;}
input[type="file"].default-file { height:auto; }
a.addrow-link-blue { color:#005b92; }
a.addrow-link-blue span.wkqp-icon-plus-outline { color:#005b92; }
.wkqp-select-field > select { padding-right: 0rem; } 
.wkqp-select-field > select > option { border-right:1px solid #666666; }
.wkqp-select-field > select[disabled] { background-color: #ededed; color: #b4b4b4; }
.wkqp-field-item input[type="text"]:disabled { background-color: #ededed; color: #b4b4b4; }

select[disabled] { background-color: #ededed; color: #b4b4b4; }
a.close-disabled { color:#b4b4b4; cursor:default; }
a.close-disabled span.wkqp-icon-close-outline, a.close-disabled:hover span.wkqp-icon-close-outline { color: #b4b4b4; }
.mr20 { margin-right:20px; }
.mt20 { margin-top:20px; }
.wkqp-pagination > li:first-child a.prev-pr15 { padding-right:15px; font-size:0.87891rem;}
.wkqp-pagination > li:last-child a.next-pl15 { padding-left:15px; font-size:0.87891rem; }
.pr1rem {padding-right:1rem;}
table span.wkqp-icon-spin.wkqp-spin  { color:#005b92; font-size:30px;  }
span.wkqp-icon-spin.wkqp-spin.wkqp-spin-center  { color:#005b92; position:absolute;left:40%;top: 50%;font-size:50px;min-height: 50px; }
.st-sort-ascent:before {content: '\25B2'; font-size:10px;}
.st-sort-descent:before {content: '\25BC'; font-size:10px;}
.st-sort-default { cursor: pointer; cursor: hand; }
.date-icon-wrapper { border-right:1px solid #ededed; border-bottom: 1px solid #ededed; }
.date-icon { float:left; }
.date-icon-wrapper > input.input-datetext-box { float:left; width:88%;}

span.date-icon > button.btn-default { border:1px solid #dadada; padding:3px; font-size:28px; border-radius:0px; }
.ng-msg-error {color:#a94442;} 
.wkqp-field-error { clear:both; visibility: visible;font-weight: 400;}
.modal, .modal-open { z-index: 10000000 !important; }

button.wkqp-button  {
    border:0px;
    border-radius:0px;
}
button.wkqp-button:focus {
    border:0px;
    box-shadow:0 0 0;
    outline: none; 
}

.hr-color { border-top:1px solid #bfbfbf; margin-top:0px; }
.hr-color-light  { border-top:1px solid #bfbfbf; }
.wkqp-select-field.custom-select-field > select {
    padding-right: 1.375rem;
}
.wkqp-field-header.custom-field-header label {
    font-weight: 400;
}
.pl20 { padding-left:20px; }

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}
.tooltip.top .tooltip-arrow {
    border-width: 7px 7px 0 7px;
    border-color: #fff transparent transparent transparent;
}
.tooltip.top .tooltip-inner {
    background-color: rgba(255,255,255,1) ;
    color: #474747;
    padding: 0.625em;
    text-align: center;
    text-decoration: none;
    box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -moz-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -webkit-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -o-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -ms-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    border-radius:0px;
    border:1px solid #ededed;
    font-size:1.2em;
    width:295px;
    max-width:295px;
    background:#ffffff;
}
.tooltip.in { opacity: 1; }
a.custom-icon-disabled {
    cursor: not-allowed;
    pointer-events:inherit;
    opacity:0.3;   
}

.error-404 { padding-top:50px; padding-bottom:20px; }
h1.error-404 { font-size:64px; }
h3.error-404 { padding-bottom:50px; padding-top:20px; font-weight:normal; font-size:16px; }
.mt50 { margin-top:50px; }
.mb10 { margin-bottom:10px; }
.wkqp-navbar .wkqp-nav.open > li > a {background-color: rgba(0, 122, 195, 1);}
.wkqp-navbar { z-index: 4000000; }
h1.data-not-available { font-size:40px; }
h3.data-not-available { padding-bottom:50px; padding-top:20px; font-weight:normal; font-size:16px; }
select:focus { position: static; }
ul.danger-list { padding-left:15px; }
.mandatory-fields { color:#e5202e; font-weight: normal; }
.required-fields { font-size: 14px; padding-bottom: 15px; }
.custom-tree-menuicon{display:none;}
.wkqp-field-error:after{display:none;}    
.custom-tree-menuicon{display:none;}  
span.icon-size.wkqp-icon-checkmark-empty {
    color: #85bc20;
    font-size: 2rem;
    font-weight: 700;
}
span.icon-size.wkqp-icon-close-empty {
    color: #e5202e;
    font-size: 2rem;
    font-weight: 700;
}
i.fa.fa-eye {
    font-size: 1.5rem;
    color: #474747;
}
.wkqp-unattempted  { position: relative; }  /*replace the content value with the corresponding value from the list below*/  
.wkqp-unattempted:before { content: "\f059"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; /*--adjust as necessary--*/ color: #005b92; font-size: 22px; padding-right: 0.5em; position: relative; top: 2px; left: 0; }
.video-preview{padding:15px; border:1px solid #ccc; background-color:#ddd; height:352px; padding-top:6px; }
.summary-main > .wkqp-table > tfoot.summary-pagination-bg tr td:last-child { border-right:0px solid #dadada; }
.wkqb-question-number{    
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    font-size: 13px;
    border-radius: 50%;
    color: #000;
    text-align: center;
    margin-right: 5px;
    display: inline-block;}
.wkqp-badge {font-weight: 500; background-color: #005b92; }    
.wkqp-badge-danger { background-color: #a94442; }

.image-zoomin {
    cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
}    
.image-zoomout {
    cursor: -webkit-zoom-out; 
    cursor: -moz-zoom-out;
}  
.image-modal{
    text-align: center;
}
.image-modal-close{
    position: absolute;
    top: -3px;
    right: -3px;
    color: #005b92;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.image-modal-close .wkqp-icon-close-empty:before {
    font-weight: bold;

}
.image-viewer{
    cursor: pointer;
}
.wkqp-prewrap{
    /* white-space: pre-wrap;*/
    word-wrap: break-word;}
.wkqp-field-item input.wk-fill-inthe-blank-text  {
    width: 20%;
    border-bottom: solid #474747 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    padding: 0px 0px;
    height: 2rem;
}
.wkqp-field-item input.wk-fill-inthe-blank-text:focus {
    border-color: #474747;
    outline: none;
}
.wkqp-field-item input.wk-fill-inthe-blank-text:hover {
    border-color: #474747;
}
table.correct-inline-text{
    border-top: 1px solid #ccc;
}
table.correct-inline-text span{
    margin-right: 5px; 
}
table.correct-inline-text span.wkqp-badge{white-space: normal;}
.wkqp-pagination>li>a{line-height: 22px;}
.video-preview .carousel-control.right {
    background-image: none;
    height: auto;
    right: inherit;
    left: 94%;
    position: relative;
    top:5px;
    padding:0px;
}
.video-preview .carousel-control.left {
    background-image: none;
    height: auto;
    left: 15px;
    position: relative;
    top:5px;
    padding:0px;
}
.video-preview .glyphicon-chevron-left::before {
    color:#005b92;
}
.video-preview .glyphicon-chevron-right::before {
    color:#005b92; 
}
.video-preview .glyphicon-chevron-right::before {
    color:#005b92;  
}
.video-preview .carousel-control {
    text-shadow: 0 0px 0px rgba(0,0,0,.6);
}
.video-preview .carousel-indicators {
    top: inherit;
    bottom: -27px; 
}
.video-preview .carousel-indicators .active {
    background-color: #005b92;
    margin-left: 6px;
    width:12px;
    height:12px;
}
.video-preview .carousel-indicators li  {
    border:1px solid #005b92; 
    width:12px;
    height:12px;
}

.video-preview .carousel-control {
    opacity:.7;
}
.video-preview .item-prev-img55 {
    height:235px;
}
.video-preview .item-prev-img55 img {
    height:235px;
}
.video-preview .item-prev-video55 {
    height:235px;
}
.video-preview .item-prev-audio55 {
    height:235px;
    background-color: #666;
}
.video-preview .que-prev-title-head {
    float: left; 
    width: 100%;
    border: 0px solid #dadada;
    padding: 0px 0 0px 0; 
    margin-bottom:5px; 
    font-size:12px; 
    word-wrap: break-word; 
}
.video-preview .carousel-indicators li {
    border: 0px solid #005b92;
    width: 12px;
    height: 12px;
    background: #fff;
    margin-left: 6px;
}
.img-enlarge { font-size: 12px;
               margin-top: 5px;
               height: 20px;
               float: left;
               width: 100%;}
.item-type-preview .video-preview { height:auto; }
.item-type-preview .video-preview img.image-viewer { width:100%; height:auto; }
.modal-lg { width: 600px; min-width: 600px; }
.enlarge-img-border { border:1px solid #dadada; margin-top:18px; } 
.tooltip.right .tooltip-arrow {
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #474747;
}
.tooltip.right .tooltip-inner { 
    background-color: rgba(255,255,255,1) ;
    color: #474747;
    padding: 1em;
    text-decoration: none;
    box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -moz-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -webkit-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -o-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -ms-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    border-radius:0px;
    border:1px solid #474747;
    font-size:1.2em;
    width:700px;
    max-width:700px;
    background:#ffffff;
    text-align: left;
}
.tooltip { margin-left:50px !important; }
.tooltip.bottom .tooltip-arrow {
    margin-top: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    margin-left:-50px;
}
.tooltip.bottom .tooltip-inner { 
    background-color: rgba(255,255,255,1) ;
    color: #474747;
    padding: 6px 6px;
    text-decoration: none;
    box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -moz-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -webkit-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -o-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -ms-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    border-radius:0px;
    border:1px solid #474747;
    font-size:1.2em;
    width:160px;
    max-width:160px;
    background:#ffffff;
    text-align: center;
}
.tooltip.top .tooltip-arrow {
    border-width: 7px 7px 0 7px;
    border-color: #fff transparent transparent transparent;
}
.tooltip.top .tooltip-inner {
    background-color: rgba(255,255,255,1) ;
    color: #474747;
    padding: 0.625em;
    text-align: center;
    text-decoration: none;
    box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -moz-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -webkit-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -o-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    -ms-box-shadow: 4px 5px 7px -3px rgba(99,99,99,0.3);
    border-radius:0px;
    border:1px solid #ededed;
    font-size:1.2em;
    width:295px;
    max-width:295px;
    background:#ffffff;
}
.tooltip.in { opacity: 1; }

.wkqp-row .test-header1{
    width:17%;
}
.wkqp-row .test-header2{
    width:14%;
}
.wkqp-row .test-header3{
    width:6%;
}
.wkqp-row .test-header4{
    width:7%;
}
.wkqp-row .test-header5{
    width:10%;
}
.wkqp-row .test-header6{
    width:15%;
}
.wkqp-row .test-header7{
    width:11%;
}
.wkqp-row .test-header8{
    width:7%;
}
.dragdrop-anslabel { padding:15px; border:1px solid #dadada; float:left; width:100%; font-size:15px; cursor: pointer; padding-left:40px; margin-bottom: 5px; }
.dragdrop-anslabel:hover { color:#005b92; }

.dragdrop-anslabel span {
    position: relative; 
}

.dragdrop-anslabel span:before {  
    content: "\f142";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #bfbfbf;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: -2px;
    left: -22px; 
}
.dragdrop-anslabel span:after {  
    content: "\f142";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #bfbfbf;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: -2px;
    left: -16px; 
}
.dragdrop-correctanslabel {
    float: left;
    width: 100%;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 400;
}
.wkqp-danger, .wkqp-success {
    float:left;
    width: 100%;
}
.msg-draganddrop{
    float: left;
    width: 100%;
    margin: 0px;
    font-size: 12px;
    padding-bottom: 10px;
    color: #474747; 
}
.correct-response-title {
    margin:0px;
    padding:15px 0 10px 0;
    font-size: .9375rem;
}
.correct-rationale-section {
    padding-top:15px;
    float:left;
    width:100%;
}
.remediation-section {
    padding-top:15px;
    float:left;
    width:100%;
}

/* assets position css start */
.right-assets-position-media {
    float:right !important;
    margin-bottom:15px !important;
}
.right-assets-position-question {
    float:left !important;
    padding-right:15px;
}
.left-assets-position-media {
    float:left !important;
    margin-bottom:15px !important; 
}
.left-assets-position-question {
    float:right !important;
}
.left-assets-position-question .wkqp-field-header h4 { margin-top:0px; }
.top-assets-position-media {
    float: none !important;
    width: 45% !important; 
    margin: 0 auto !important;
    margin-bottom:15px !important; 
}
.top-assets-position-question {
    float:left !important;
    width:100% !important;
}
.bottom-assets-position-media {
    float: none !important;
    width: 45% !important; 
    margin: 0 auto !important;
    clear:both;
    margin-bottom:15px !important;
}
.bottom-assets-position-question {
    float:left !important;
    width:100% !important;
}
.assets-permit-mt25mb0 { margin-top:25px; margin-bottom: 0px; float:left; width:100%; border-top:1px solid #ccc; }

.hotspot-parent {
    /*    cursor: crosshair;
    */  background-color: #ccc;
    border: #fff solid 0px;
    margin-top: 10px;
    top: 0px;
    left: 0px;
    position: relative;
}
.msg-hotspot{
    width: 100%;
    margin: 0px;
    font-size: 12px;
    padding-bottom: 10px;
    color: #999; 
}
.wk-image-panel-wrapper { float:left; width:100%; border:0px solid #ccc; }
.wk-image-panel-wrapper h3 {     float: left;
                                 width: 100%;
                                 padding: 10px 15px;
                                 font-size: 14px;
                                 color: #000;
                                 margin: 0px;
                                 background: #fff;
                                 border: 1px solid #cccc;
                                 border-bottom: 0px;
                                 line-height: normal; font-weight: normal; }
.wk-image-panel-wrapper h3 label { margin:0px; padding:0px; font-size: 13px; font-weight: 300; color:#666; }    
.wk-image-panel-wrapper h3 span { margin:0px; padding:0px; font-size: 13px; font-weight: 300; color:#474747; }    
.wk-image-panel-body { float:left; width:100%; padding:15px; border:1px solid #ccc; background-color: #fff; text-align: center; }
.wk-image-panel-body svg { border:1px solid #ccc; }
.hopspot-svgcontainer{overflow:auto;width:100%;max-height:500px;}
.figure-label-noanswer {color:#e5202e;}
.figurelabel-svgcontainer{overflow:auto;width: 100%;height : auto;}
.wkqp-select-field.wkqp-alert-error select { border: 1px solid red; }
span.wkqp-icon-spin.wkqp-spin.wkqp-spin-center { top:25%; }
.fig-lab-que-wrapper { padding:10px 15px; }
.wkqp-fullwidth { float:left; width:100%; }
.wkqp-table > tfoot > tr > th, .wkqp-table > thead > tr > th.figure-labeling-table-head {text-transform: none;font-size: 0.9375rem;}
.time-qu-pt-remove { padding-top:0px; }

/* accessbility css */
.hidden-text { display:none; }
.wkqp-button, button { background-color: #005b92; }
.wkqp-button-group-left a.wkqp-button.wkqp-button-primary { background-color: #005b92; color:#ffffff; }
.wkqp-button-group-left a.wkqp-button.wkqp-button-primary:hover, .wkqp-button-group-left a.wkqp-button.wkqp-button-primary:focus { background-color: #80bde1; color:#000000; }
.wkqp-case-cenario span { font-weight: 600; }
.wkqp-case-question h2 { font-size:18px; margin:0; margin-bottom: 10px; margin-top: 10px; }
.wkqp-case-question h3 { font-size:18px; margin:0; margin-bottom: 10px; }
.left-assets-position-question .wkqp-field-header h2.wk-image-que-title { margin-top:0px; font-weight: normal; font-size: 1.2rem; line-height: normal;}
.img-enlarge-text span { font-weight: 500; display: inline-block; font-size:12px; } 
.summary-label span { display: inline-block;  margin-bottom: 5px; font-weight: 600; }
.quiz-ans-section { float:left; width:100%; }
.quiz-ans-section h2.wkqp-module-heading {color: #005b92; font-size: 1.2rem;font-weight: 600; margin:0px; padding:0px 0 10px 0; }
.wkqp-field-header span.medicalcase-label { font-weight: 600;margin-bottom: 5px; display: inline-block; }
.left-assets-position-question .wkqp-field-header h3.wkqp-mod-heading3 { font-size: 1.2rem; font-weight: normal; margin:0px; }
.wkqp-alert-success {
    border: 1px solid #3d854d;
    color: #3d854d;
}
.green-checkmark {
    color: #3d854d; 
}
.wrong-checkmark {
    color:#a94442; 
}
.wkqp-alert-danger {
    border: 1px solid #a94442;
    color: #a94442;
}
a.remedies-link { color:#005b92; }
a.remedies-link:hover { color:#474747; }
a.remedies-link:focus { color:#474747; }

.wkqp-pagination>li.wkqp-disabled a, .wkqp-pagination>li.wkqp-disabled:first-child a, .wkqp-pagination>li.wkqp-disabled:last-child a {
    background: #474747;
}
.wkqp-pagination>li:first-child a, .wkqp-pagination>li:last-child a {
    background-color: #005b92;
    color: #fff;
}   
.wkqp-pagination>li>a {
    color:#000000;
} 
.wkqp-pagination>.wkqp-active a {
    background-color: #fff;
    color: #474747;
}
.wkqp-pagination>li:first-child a:hover, .wkqp-pagination>li:last-child a:hover {
    background-color: #005b92;
}
.wkqp-pagination>li>a:hover {
    background-color: #a6d1ea;
    color: #000;
}
.wkqp-button:hover:not([disabled]), button:hover:not([disabled]) {
    background-color: #005b92;
    color: #fff;
}
h2.heading-h2 { margin:0px; padding-bottom: 10px; font-size: 1.2rem; font-weight: normal; }
h3.heading-h3 { margin:0px; padding-bottom: 10px; font-size: 1.2rem; font-weight: normal; }
span.label-heading { font-weight: 600; display: inline-block; margin-bottom:5px; } 
.video-preview .glyphicon-chevron-left::before {
    color: #000000;
}
.video-preview .glyphicon-chevron-right::before {
    color: #000000;
}
.video-preview .carousel-indicators li { background: #000000; color:#ffffff; }
.video-preview .carousel-indicators .active {
    background-color: #005b92; color:#ffffff;
}
.previous-text-color-white { color:#000000; }
.next-text-color-white { color:#000000; }
/* accessbility css ends */

.engine-header-records { float: left; padding-right: 25px;}
.engine-records-wrapper .engine-header-records:last-child {padding-right: 0;}
.clinical-heading { background-color: #ededed;
                    border: 1px solid #a3a3a3;
                    padding: 0.5rem 0.8rem;
                    margin-bottom: 1rem;
                    font-size: 1.3rem;
}
h2.heading-h2-pb0 { padding-bottom: 0px; } 
.clinical-minhight { min-height: 300px; }
a.show-hide-focus:hover, a.show-hide-focus:focus { color:#ffffff; }

a.remediation-link:hover, a.remediation-link:focus {
    color: #474747;
}

.inline-select-box button.btn.btn-small.inline-btn {
    width: 158px;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
}
.inline-select-box ul.dropdown-menu {
    width: 184px; 
    padding: 10px; 
    padding: 5px 10px; 
}

.engine-btn-left{
    padding-top: 4px;
    padding-bottom: 4px;
}
.engine-btn-right{
    padding-top: 11px;
    padding-bottom: 11px;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed tab start*/
@media only screen and (max-width:800px) {
    .wkqp-iconslayout-responsive .wkqp-iconsbutton-group-left a.wkqp-iconsbutton  { margin-right:10px; }
    .wkqp-iconslayout-responsive .wkqp-iconsbutton-group-left a.wkqp-iconsbutton:last-child  { margin-right:0px; }
    span.wkqp-icon-spin.wkqp-spin.wkqp-spin-center { top:25%; }
}
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {display: none; }
    h2.resp-accordion {display: block;}
    .resp-vtabs .resp-tab-content {border: 1px solid #241866; }
    .resp-vtabs .resp-tabs-container { border: none;float: none;width: 100%;min-height: 100px; clear: none; }
    .resp-accordion-closed {display: none !important;}
    .resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #241866 !important; }
    span.wkqp-icon-spin.wkqp-spin.wkqp-spin-center { top:25%; }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .modal-lg { height:150px; } 
} 
@media only screen and (max-width: 767px) { 
    .wkqp-iconslayout-responsive .wkqp-iconspagination { margin-top:15px; float:right; }
    .wkqp-iconslayout-responsive .wkqp-iconsbutton-bar .wkqp-iconsbutton-group-left { float:right; }
    .wkqp-iconslayout-responsive > .wkqp-iconslayout-item { width:100%; margin-right:0; }
    #piechart_3d { width:100%; height:auto; }
    .wkqp-page-content h1 {font-size: 18px; padding-bottom: 0px; margin-bottom: 10px; }  
    .wkqp-register-bg .test-header1, .wkqp-register-bg .test-header2, .wkqp-register-bg .test-header3, .wkqp-register-bg .test-header4, .wkqp-register-bg .test-header5, .wkqp-register-bg .test-header6, .wkqp-register-bg .test-header7, .wkqp-register-bg .test-header8 { width:100%; }
    .wkqp-page-content .wkqp-field-header label { font-size:13px; } 
    .wkqp-page-content .wkqp-register-bg .wkqp-field-item .wkqp-field-header { float:left; width:53%; text-align: left; }
    .wkqp-page-content .wkqp-register-bg .test-header1 .wkqp-field-item .wkqp-field-header,
    .wkqp-page-content .wkqp-register-bg .test-header2 .wkqp-field-item .wkqp-field-header,
    .wkqp-page-content .wkqp-register-bg .test-header3 .wkqp-field-item .wkqp-field-header,
    .wkqp-page-content .wkqp-register-bg .test-header4 .wkqp-field-item .wkqp-field-header,
    .wkqp-page-content .wkqp-register-bg .test-header5 .wkqp-field-item .wkqp-field-header,
    .wkqp-page-content .wkqp-register-bg .test-header6 .wkqp-field-item .wkqp-field-header,
    .wkqp-page-content .wkqp-register-bg .test-header7 .wkqp-field-item .wkqp-field-header,
    .wkqp-page-content .wkqp-register-bg .test-header8 .wkqp-field-item .wkqp-field-header { float:left; width:65%; text-align: left; }
    .wkqp-page-content .wkqp-badge { float:left; width:auto; }
    .wkqp-page-content .wkqp-register-bg { padding:1rem .6rem; }  
    .wkqp-page-content .wkqp-field-item { float:left; width:100%; }
    .wkqp-layout-item { float:left; width:100%; text-align: left; margin-bottom:15px; }
    .hopspot-svgcontainer { width:100%; } 
    span.wkqp-icon-spin.wkqp-spin.wkqp-spin-center { top:25%; }
    .wkqp-register-bg .wkqp-field-item span { text-align: left; } 
    .wkqp-register-bg .wkqp-field-item span { text-align: left; font-size:13px; float:left; } 
    .wkqp-page-content .wkqp-register-bg .wkqp-field-header { width:53%; } 
    .wkqp-page-content .wkqp-register-bg .wkqp-layout-item { margin:0px; }
    .wkqp-page-content .wkqp-register-bg .wkqp-field-item { margin:0px; }
    .left-assets-position-question .wkqp-field-header h4 {margin-top: 0px; text-align: left;font-size: 14px;line-height: 20px;}
    .left-assets-position-question { float:left !important; width:100%; }    
    .left-assets-position-question .wkqp-field-item { width:100%; }
    .left-assets-position-question .wkqp-field-header  {width: 100% !important;text-align: left; } 
    .left-assets-position-question .wkqp-layout-item .wkqp-field-item .ng-scope { text-align: left; font-size:14px; } 
    .left-assets-position-question .gray-bg-result { text-align: left; }
    .wkqp-module-heading { text-align: left; }
    .video-preview { width:100% !important; }
    .wk-image-panel-wrapper { border:1px solid #ccc; }
    body, html {font-size: 14px;}
    audio, canvas, progress, video { width:100% !important; } 
    .que-mob-left { float:left; }
    .time-mob-right { float:left; margin-top: 10px !important; }
    .modal-lg {
        min-width: 96%;
        width: 96%;
    }

}
@media only screen and (min-width:600px) and (max-width:767px) {
    .wkqp-layout-50-50 > .wkqp-layout-item:nth-child(1) { float:left; width:70%; margin-right:0px; }
    .wkqp-layout-50-50 > .wkqp-layout-item:nth-child(2) { float:left; width:30%; margin-right:0px; }
    .wkqp-layout-item { margin-bottom: 0px; }
    span.wkqp-icon-spin.wkqp-spin.wkqp-spin-center { top:20%; }
    .wkqp-register-bg .wkqp-field-item span { text-align: left; font-size:13px; float:left; } 
    .wkqp-page-content .wkqp-register-bg .wkqp-field-header { width:53%; } 
    .wkqp-page-content .wkqp-register-bg .wkqp-layout-item { margin:0px; }
    .wkqp-page-content .wkqp-register-bg .wkqp-field-item { margin:0px; }
    .video-preview { width:100% !important; }
    .wk-image-panel-wrapper { border:1px solid #ccc; }
    audio, canvas, progress, video { width:100% !important; } 
    .que-mob-left { float:left; }
    .time-mob-right { float:left; margin-top: 10px !important; }
    .modal-lg {
        min-width: 96%;
        width: 96%;
    }
    .engine-header-records { float: left;padding-right: 0;width: 100%; padding-bottom: 6px; }  
    .wkqp-page-content .wkqp-field-header label {font-size: 12px;}  
    .wkqp-page-content .wkqp-register-bg .wkqp-field-item .wkqp-field-header { width:59%; }

    .clinical-res { margin-bottom: 0px; }
    .clinical-res .wkqp-field-item { margin-bottom: 0px; }  
    .clinical-res-mb0 { margin-bottom: 0px; }
    .pn-pagination-mob { text-align:center; } 
    ul.wkqp-pagination.pn-mobile li:first-child { padding-left: 0px; } 
    h3.heading-h3.headingh3-res { padding-bottom: 0px; }
    .wkqp-button-group-left a.wkqp-button.wkqp-button-primary { font-size: 1rem; }
    a.wkqp-button { font-size: 1rem; }
    .clinical-minhight { min-height: inherit; }
    .mt0-mob-choice { margin-top:0px; }
    .summary1-mb0 { margin-bottom: 0px; } 
    .summary1-mb0 .wkqp-field-header { margin-bottom: 0px;  }
    .summary2-mb0 .gray-bg-result { margin-bottom: 0px; }
    .summary2-mb0 { margin-bottom: 0px; }
    .summary3-mb0 { margin-bottom: 0px; }
    .summary4-mb0 { margin-bottom: 0px; }
    .summary5-mb0 { margin-bottom: 0px; }
    .summary5-mb0 .gray-bg-result { margin-top:0px; }
    .quiz-ans-section .wkqp-layout-item { margin-bottom: 0px; }
    .wkqp-register-bg .wkqp-col-6 { width:100%; padding:0px; }
    .wkqp-register-bg .wkqp-col-6 .wkqp-layout-item { width:50%; margin-bottom: 15px; }
    .wkqp-register-bg .wkqp-col-6 .wkqp-layout-item .wkqp-field-header.summary-label { width:100%; }
    .submit-model-class .modal-dialog { position: absolute;bottom: 15%;width: 100%;padding: 15px;margin: 0px;}

}
@media only screen and (max-width: 599px) { 
    .wkqp-iconslayout-responsive a.wkqp-iconsbutton { display: block;text-align: center; }
    .wkqp-iconsbutton-bar .wkqp-iconsbutton-group-left { width:100%; }
    .pn-mobile > li { padding-left:15px; }
    .mr-1rem { margin-right:0rem; }
    ul.pn-mobile > li a { margin-bottom:0px; }
    .remove-mobile { display:none; }
    ul.wkqp-iconspg-mobileright { float:right; }
    .mb-mb15 { margin-bottom:15px; }
    .responsive-timespent { padding-top:10px; padding-bottom:10px; text-align:left; padding-right:0px; padding-left:15px; }
    #piechart_3d { width:100%; height:auto; }  
    .wkqp-page-content h1 {font-size: 18px; padding-bottom: 0px; margin-bottom: 10px; }  
    .wkqp-register-bg .test-header1, .wkqp-register-bg .test-header2, .wkqp-register-bg .test-header3, .wkqp-register-bg .test-header4, .wkqp-register-bg .test-header5, .wkqp-register-bg .test-header6, .wkqp-register-bg .test-header7, .wkqp-register-bg .test-header8 { width:100%; }
    .wkqp-page-content .wkqp-field-header label { font-size:13px; } 
    .wkqp-page-content .wkqp-badge { float:left; width:auto; }
    .wkqp-page-content .wkqp-register-bg { padding:1rem .6rem; } 
    .wkqp-page-content .wkqp-field-item { float:left; width:100%; }
    .wkqp-layout-item { float:left; width:100%; text-align: left; margin-bottom:15px; }
    .hopspot-svgcontainer { width:100%; } 
    span.wkqp-icon-spin.wkqp-spin.wkqp-spin-center { top:25%; }
    .wkqp-register-bg .wkqp-field-item span { text-align: left; font-size:13px; float:left; } 
    .wkqp-page-content .wkqp-register-bg .wkqp-field-header { width:53%; } 
    .wkqp-page-content .wkqp-register-bg .wkqp-layout-item { margin:0px; }
    .wkqp-page-content .wkqp-register-bg .wkqp-field-item { margin:0px; } 
    .video-preview { width:100% !important; }
    .wk-image-panel-wrapper { border:1px solid #ccc; }
    audio, canvas, progress, video { width:100% !important; } 
    .que-mob-left { float:left; }
    .time-mob-right { float:left; margin-top: 10px !important; }
    .modal-lg { min-width: 96%; width: 96%;}
    .video-preview .carousel-indicators li { width:9px; height:9px; } 
    .video-preview .carousel-indicators .active { width:9px; height:9px; } 
    .wkqp-alert-danger { float:left; width:100%; }
    .wkqp-pagination > li > a { line-height: 19px; }
    .pagination { margin-top:0px !important ; margin-bottom: 0px !important; }
    .wkqp-pagination > li { margin-bottom: 5px; }
    .wkqp-pagination > li:first-child a, .wkqp-pagination > li:last-child a { margin-bottom: 0px !important; }

    .engine-header-records { float: left;padding-right: 0;width: 100%; padding-bottom: 6px; }  
    .wkqp-page-content .wkqp-field-header label {font-size: 12px;}  
    .wkqp-page-content .wkqp-register-bg .wkqp-field-item .wkqp-field-header { width:59%; }

    .clinical-res { margin-bottom: 0px; }
    .clinical-res .wkqp-field-item { margin-bottom: 0px; }  
    .clinical-res-mb0 { margin-bottom: 0px; }
    .pn-pagination-mob { text-align:center; } 
    ul.wkqp-pagination.pn-mobile li:first-child { padding-left: 0px; } 
    h3.heading-h3.headingh3-res { padding-bottom: 0px; }
    .wkqp-button-group-left a.wkqp-button.wkqp-button-primary { font-size: 1rem; }
    a.wkqp-button { font-size: 1rem; }
    .clinical-minhight { min-height: inherit; }
    .mt0-mob-choice { margin-top:0px; }

    .summary1-mb0 { margin-bottom: 0px; } 
    .summary1-mb0 .wkqp-field-header { margin-bottom: 0px;  }
    .summary2-mb0 .gray-bg-result { margin-bottom: 0px; }
    .summary2-mb0 { margin-bottom: 0px; }
    .summary3-mb0 { margin-bottom: 0px; }
    .summary4-mb0 { margin-bottom: 0px; }
    .summary5-mb0 { margin-bottom: 0px; }
    .summary5-mb0 .gray-bg-result { margin-top:0px; }
    .quiz-ans-section .wkqp-layout-item { margin-bottom: 0px; }
    .submit-model-class .modal-dialog { position: absolute;bottom: 15%;width: 100%;padding: 15px;margin: 0px;}

}
@media only screen and (min-width:480px) and (max-width:767px) {
    .modal-lg { height:150px; } 
}
@media only screen and (max-width:479px) {
    .modal-lg { min-width: 96%; width: 96%; }
} 

/* Responsive css end */ 

