<div class="wk-page-content">
    <div class="wk-layout-centered-medium wk-register-bg mt50">
  <div class="wk-row text-center">
         <h1 class="error-404" l10nTranslate><span class="wk-icon-alert-triangle"></span>sharedLocale.errors.404-ERROR</h1>
     <h5 l10nTranslate>sharedLocale.errors.pageNotFound</h5>
     <h3 class="error-404"><a href="javascript:void(0)" role="button" l10nTranslate><span class="wk-icon-arrow-back"></span>sharedLocale.errors.GoBack</a></h3>
   </div>
   </div>
</div>
